/* Your styling here */

h4 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px #000000;
    padding: 8px;
}

.completed {
    text-decoration: line-through;
    color: rgb(190, 0, 0);

}

label {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 2px #000000;

}

p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 2px #000000;

}

span {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px #000000;

}

.trashcan {
cursor: pointer;
font-size: xx-large;
margin-left: 10px;
text-shadow: 3px 3px #000000;
color: rgb(9, 161, 17)




}


#AddTodoBtn {
    cursor: pointer;

}

